<html>
	<head>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="/static/button.css">
		<link rel="stylesheet" href="/static/login.css">
		<link rel="stylesheet" href="/static/toolbar.css">
		<link rel="stylesheet" href="/static/list.css">
		<link rel="stylesheet" href="/static/board.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
		<div class="toolbar">
        	<div class="toolbar-content"> 
				<h1>
				CENG 445 Online Monopoly Demo 
				</h1>
				<div class="spacer"></div>
				{% if request.user.is_authenticated %}
					<div class="dropdown">
						<button type="button" class="toolbar-button" onclick="toggleDropdown()">
							<span class="material-symbols-outlined" style="font-size: 40px;">
								account_circle
							</span>
						</button>
						<div class="dropdown-content" id="dropdownContent">
							<a> username: {{ request.user.username }} </a>
							<a> email: {{ request.user.email }} </a>
							<a> full name: {{ request.user.full_name }} </a>
							<hr>
							<a href="/logout"> logout </a>
						</div>
					</div>
				{% endif %}
			</div>
		</div>

		<div style="margin-top: 40px;">
		{% block "body" %} 
        {% endblock %}
		</div>
	<!-- <a href="/student">Main page</a> -->
    </body>
	<script>
		function toggleDropdown() {
		  var dropdownContent = document.getElementById("dropdownContent");
		  dropdownContent.style.display = dropdownContent.style.display === "block" ? "none" : "block";
		}
	</script>
</html>