<html>
	<head>
        <link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="/static/button.css">
		<link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
		<div class="toolbar">
        	<h1 class="toolbar-content"> CENG 445 Online Monopoly Demo </h1>
		</div>
		<div align="right">
		{% if request.user.is_authenticated %}
			<p> username: {{ request.user.username }} </p>
			<p> email: {{ request.user.email }} </p>
			<p> full name: {{ request.user.full_name }} </p>
			<a href="{% url 'logout' %}">Logout</a>
		{% endif %}
		</div>
		<div>
		{% block "body" %} 
        {% endblock %}
		</div>
	<!-- <a href="/student">Main page</a> -->
    </body>
</html>