{% extends "base.html" %}
{% load i18n %}
{% block "body" %}

<div class="login-container">
  <div class="login-form">
    <div class="login-head">Create Game</div>
    <hr class="login-hr">
    <form method="post" action="{% url 'board_add_post' %}" enctype="multipart/form-data">
        {% csrf_token %} 
        {{ form.as_p }}
      
        <div class="login-button-container">
          <button class="login-button">{% trans "Create" %}</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>

      {% for error in errors %}
      <div style="color: red;">
        {{ error }}
      </div>
      {% endfor %}

  </div>
</div>

<script type="text/javascript">
  const setUserList = function () { //TODO: Not used
    var list = document.getElementById("id_board_users")

    for (var i = 0; i < list.childNodes.length; i ++)
    {
      if (list.childNodes[i].style)
      {
        list.childNodes[i].style.display = 'none'
        list.childNodes[i].style.display = ''
      }
    }
  }
  
</script>
{% endblock %}