{% extends "base.html" %}
{% block "body" %}


<h2> Board: {{ board_name }}</h2>
<a href="/board/{{ board_name }}/close">Close</a>
<a href="/board/{{ board_name }}/ready">Ready</a>

<div class="board">
    {% for cell in board_status.cells %}
        <div class="cell {{ cell.type }}" >
            {% if cell.type == 'property' %}
                <div>
                    <div class="{{ cell.color }}"></div>
                    <strong>{{ cell.name }}</strong>
                    <br>{{ cell.price }}<br>
                </div>
            {% elif cell.type == 'tax' %}
                <div>
                    Tax
                </div>
            {% elif cell.type == 'goto jail' %}
                <div>
                    Go To Jail
                </div>
            {% elif cell.type == 'teleport' %}
                <div>
                    Teleport
                </div>
            {% elif cell.type == 'jail' %}
                <div>
                    Jail
                </div>
            {% elif cell.type == 'chance card' %}
                <div>
                    Chance
                </div>
            {% elif cell.type == 'lottery' %}
                <div>
                    Lottery
                </div>
            {% elif cell.type == 'start' %}
                <div>
                    Start
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>


{% endblock %}