{% extends "base.html" %}
{% load i18n %}

{% block "body" %}
{{ message }}
<div class="login-container">
  <div class="login-form">
    <div class="login-head">Login</div>
    <hr>
    <form method="post" action="{% url 'login_post' %}">
      {% csrf_token %} 
      {{ form.as_p }}

      <div class="button-container">
        <button href="{% url 'login' %}">{% trans "Log in" %}</button>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>

    <div>
      {% trans "Not member" %}? 
      <a href="{% url 'register' %}">{% trans "Register" %}!</a>
    </div>
  </div>
</div>
{% endblock %}