{% extends "base.html" %}
{% load i18n %}

{% block "body" %}
<div class="login-container">
    <div class="login-form">
        <div class="login-head">Register</div>
        <hr class="login-hr">
        <div class="button-container" style="margin-bottom: 20px;">
            User created
        </div>

        <div class="button-container">
            <button class="login-button" onclick="window.location.href='/login';">{% trans "Back to Login" %}</button>
        </div>
    </div>
</div>
{% endblock %}